<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
        backupStaticAttributes="false"
         bootstrap="Tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="All">
            <directory suffix="Test.php">./</directory>
            <exclude>./vendor</exclude>
            <exclude>./lib/Codewords/Test/</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">./Tests/</directory>
            <directory suffix=".php">./vendor/</directory>
            <directory suffix=".php">./lib/Codewords/Test/</directory>
            <file>./config/dict-2</file>
            <file>./config/words</file>
        </blacklist>
    </filter>
</phpunit>
